@{
    ViewBag.Title = "Armstrong Numbers";
}

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Armstrong Numbers</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->
<div class="container mt">
    <a class="navbar-right" href="@Url.Action("JavaSCriptExercises","CodingExercises")">Back To JavaScript Exercises</a>
    <div class="row">
        <div class="col-lg-4">
            @{Html.RenderPartial("ArmstrongNumbersPartial");}
        </div>
        <div class="col-lg-8">
            @Helpers.CodeSnippet("~/Scripts/CodingExercises/Armstrong.js", "js", Html)
        </div>
    </div><! --/row -->
</div><! --/container -->

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <div class="portfolio-centered">
        <h3>Related Works.</h3>
        <div class="recentitems portfolio">

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/Palindrome.png" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Palindrome</h3>
                            <a href="@Url.Action("Palindrome","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/SumMultiply.png" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">SumMultiply</h3>
                            <a href="@Url.Action("SumMultiply","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/Max_Of_Five.png" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Max Of Five</h3>
                            <a href="@Url.Action("MaxOfFive","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/Perfect_Numbers.png" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Perfect Numbers</h3>
                            <a href="@Url.Action("PerfectNumbers","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/Longest_Word.png" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Longest Word</h3>
                            <a href="@Url.Action("LongestWord","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
@section scripts {
    <script src="~/Scripts/Portfolio.js"></script>
<!--<script src="~/Scripts/Popover.js"></script>-->
    <script src="~/Scripts/CodingExercises/Armstrong.js"></script>
}