@{
    ViewBag.Title = "Home Page";
}

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Up and Coming Developer</h3>
                <h1>Shane Overby</h1>
                <!--<h5>With A Passion For Making Your Projects</h5>-->
                <h5>
                    “It had long since come to my attention that people of accomplishment rarely sat back and let things happen to them.
                    They went out and happened to things.” ― Leonardo da Vinci
                </h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="~/img/landingP.png" class="img-responsive" id="landingImg" /><!--~/img/browser.png-->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
@*<div id="service">
        <div class="container">
            <div class="row centered">
                <div class="col-md-4">
                    <i class="fa fa-heart-o"></i>
                    <h4>Handsomely Crafted</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p><br /><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-flask"></i>
                    <h4>Retina Ready</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p><br /><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-trophy"></i>
                    <h4>Quality Theme</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p><br /><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
            </div>
        </div><! --/container -->
    </div><! --/service -->*@

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <h3>LATEST WORKS</h3>
    <div class="portfolio-centered">
        <div class="recentitems portfolio">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_09.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Max Of Five</h3>
                            <!--<span data-toggle="modal" data-target="#max">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("MaxOfFive","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_02.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">SumMultiply</h3>
                            <!--<span data-toggle="modal" data-target="#sumMultiply">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("SumMultiply","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_03.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Factorial</h3>
                            <!--<span data-toggle="modal" data-target="#factorial">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("Factorial","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_04.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Palindrome</h3>
                            <!--<span data-toggle="modal" data-target="#palindrome">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("Palindrome","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_05.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">FizzBuzz</h3>
                            <!--<span data-toggle="modal" data-target="#fizzBuzz">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("FizzBuzz","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_08.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Armstrong Numbers</h3>
                            <!--<span data-toggle="modal" data-target="#armstrongNumbers">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("Armstrong","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle="popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_01.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Longest Word</h3>
                            <!--<span data-toggle="modal" data-target="#longestWord">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("LongestWord","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp
                               data-toggle=" popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_10.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Long Word</h3>
                            <!--<span data-toggle="modal" data-target="#longWord">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("LongWords","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle=" popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_09.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Word Frequency</h3>
                            <!--<span data-toggle="modal" data-target="#wordFrequency">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("WordFrequency","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle=" popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/img/portfolio/portfolio_02.jpg" alt="" />
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Word Find</h3>
                            <!--<span data-toggle="modal" data-target="#wordFind">
                                <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                                   data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                            </span>-->
                            <a href="@Url.Action("WordFind","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                               data-toggle=" popover" title="" data-content="View Code"
                               data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
<!-- *****************************************************************************************************************
 MIDDLE CONTENT
 ***************************************************************************************************************** -->
@*<div class="container mtb">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>More About Our Agency.</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                <p><br /><a href="@Url.Action("About","Home")" class="btn btn-theme">More About Shane</a></p>
            </div>

            <div class="col-lg-3">
                <h4>Frequently Asked</h4>
                <div class="hline"></div>
                <p><a href="#">How cool is this theme?</a></p>
                <p><a href="#">Need a nice good-looking site?</a></p>
                <p><a href="#">Is this theme retina ready?</a></p>
                <p><a href="#">Which version of Font Awesome uses?</a></p>
                <p><a href="#">Free support is integrated?</a></p>
            </div>

            <div class="col-lg-3">
                <h4>Latest Posts</h4>
                <div class="hline"></div>
                <p><a href="single-post.html">Our new site is live now.</a></p>
                <p><a href="single-post.html">Retina ready is not an option.</a></p>
                <p><a href="single-post.html">Bootstrap 3 framework is the best.</a></p>
                <p><a href="single-post.html">You need this theme, buy it now.</a></p>
                <p><a href="single-post.html">This theme is what you need.</a></p>
            </div>

        </div><! --/row -->
    </div><! --/container -->
*@
<!-- *****************************************************************************************************************
 TESTIMONIALS
 ***************************************************************************************************************** -->
@*
    <div id="twrap">
        <div class="container centered">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <i class="fa fa-comment-o"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <h4><br />Marcel Newman</h4>
                    <p>WEB DESIGNER - BLACKTIE.CO</p>
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/twrap -->
*@
<!-- *****************************************************************************************************************
 OUR CLIENTS
 ***************************************************************************************************************** -->
@*
    <div id="cwrap">
        <div class="container">
            <div class="row centered">
                <h3>OUR CLIENTS</h3>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/img/clients/client01.png" class="img-responsive" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/img/clients/client02.png" class="img-responsive" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/img/clients/client03.png" class="img-responsive" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/img/clients/client04.png" class="img-responsive" />
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/cwrap -->

*@@*
@section modals {
    <div class="modal fade" id="max" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true" id="mofDismiss">x</button>
                    <h1 class="modal-title" id="myModalLabel">Max Of Five</h1>                     <!--Max Of Five-->
                </div>
                <div class="modal-body col-sm-12" id="maxMod">
                    <div class="row">
                        @{Html.RenderPartial("MaxOfFivePartial");}
                    </div>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="sumMultiply" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">SumMultiply</h1>                     <!--SumMultiply-->
            </div>
            <div class="modal-body col-sm-12" id="sumMultiplyMod">
                <div class="row">
                    @{Html.RenderPartial("SumMultiplyPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="factorial" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Factorial</h1>                     <!--Factorial-->
            </div>
            <div class="modal-body col-sm-12" id="factorialMod">
                <div class="row">
                    @{Html.RenderPartial("FactorialPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="palindrome" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Palindrome</h1>                     <!--Palindrome-->
            </div>
            <div class="modal-body col-sm-12" id="palindromeMod">
                <div class="row">
                    @{Html.RenderPartial("PalindromePartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fizzBuzz" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">FizzBuzz</h1>                     <!--FizzBuzz-->
            </div>
            <div class="modal-body col-sm-12" id="fizzBuzzMod">
                <div class="row">
                    @{Html.RenderPartial("FizzBuzzPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="armstrongNumbers" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Armstrong Numbers</h1>                     <!--Armstrong Numbers-->
            </div>
            <div class="modal-body col-sm-12" id="armstrongNumbersMod">
                <div class="row">
                    @{Html.RenderPartial("ArmstrongNumbersPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longestWord" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Longest Word</h1>                     <!--Longest Word-->
            </div>
            <div class="modal-body col-sm-12" id="longestWordMod">
                <div class="row">
                    @{Html.RenderPartial("LongestWordPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longWord" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Long Word</h1>                     <!--Long Word-->
            </div>
            <div class="modal-body col-sm-12" id="longWordMod">
                <div class="row">
                    @{Html.RenderPartial("LongWordsPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wordFrequency" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Word Frequency</h1>                     <!--Word Frequency-->
            </div>
            <div class="modal-body col-sm-12" id="wordFrequencyMod">
                <div class="row">
                    @{Html.RenderPartial("WordFrequencyPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wordFind" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    x
                </button>
                <h1 class="modal-title" id="myModalLabel">Word Find</h1>                     <!--Word Find-->
            </div>
            <div class="modal-body col-sm-12" id="wordFindMod">
                <div class="row">
                    @{Html.RenderPartial("WordFindPartial");}
                </div>
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
    </div>
</div>
}*@
@section scripts{
<script src="~/Scripts/Portfolio.js"></script><!------------------------Portfolio Layout-->
<script src="~/Scripts/Popover.js"></script><!--------------------------Popover-->
<script src="~/Scripts/CodingExercises/MaxOfFive.js"></script><!--------Max Of Five-->
<script src="~/Scripts/CodingExercises/SumMultiply.js"></script><!------SumMultiply-->
<script src="~/Scripts/CodingExercises/Factorial.js"></script><!--------Factorial-->
<script src="~/Scripts/CodingExercises/Palindrome.js"></script><!-------Palindrome-->
<script src="~/Scripts/CodingExercises/FizzBuzz.js"></script><!---------FizzBuzz-->
<script src="~/Scripts/CodingExercises/Armstrong.js"></script><!--------Armstrong Numbers-->
<script src="~/Scripts/CodingExercises/LongestWord.js"></script><!------Longest Word-->
<script src="~/Scripts/CodingExercises/LongWords.js"></script><!--------Long Words-->
<script src="~/Scripts/CodingExercises/WordFrequency.js"></script><!----Word Frequency-->
<script src="~/Scripts/CodingExercises/WordFind.js"></script><!---------Word Find-->
}