
@{
    ViewBag.Title = "Index";
}

<h2>Coding Exercises</h2>

<div>
    <h3>@Html.ActionLink("Max o' 5", "MaxOfFive")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Sum/Multiply", "SumMultiply")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Factorial", "Factorial")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Palindrome", "Palindrome")</h3>
</div>

<div>
    <h3>@Html.ActionLink("FizzBuzz", "FizzBuzz")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Perfect Numbers", "PerfectNumbers")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Happy Numbers", "HappyNumbers")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Armstrong Numbers", "Armstrong")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Longest Word", "LongestWord")</h3>
</div>

<div>
    <h3>@Html.ActionLink("Long Words", "LongWords")</h3>
</div>
<div>
    <h3>@Html.ActionLink("Word Frequency", "WordFrequency")</h3>
</div>
<div>
    <h3>@Html.ActionLink("Word Find", "WordFind")</h3>
</div>